<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
    <title>TodoList version 1</title>
</head>
<body>
    <nav class="flex justify-between text-3xl my-3">
        <ul class="flex ml-10">
            <li><a href="/">Todo List v.1</a></li>
        </ul>
        {% block nav %}{% endblock %}
        <ul class="flex gap-5 mr-10">
            <li class=""><a href="/todos"><button class="text-2xl bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Задачи</button></a></li>
        </ul>
    </nav>
    <hr>
    <div class="content">
        {% block content %}
        <div class="flex flex-col justify-center items-center text-2xl my-3 p-3 h-96">
            <h1 class="text-3xl">Добро пожаловать в TodoList</h1>
            <br>
            <p>Здесь вы сможете записывать разные задачи, одним словом - заметки</p>
            <p>Но важно: у вас есть возможность вносить изменения в задачу</p>
            <p>Сделайте свою первую задачу!</p>
            <br>
            <a href="/todos/add"><button class="text-2xl bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Добавить задачу</button></a>
        </div>
        {% endblock %}
    </div>
</body>
</html>
