{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block nav %}
<ul class="flex gap-5 mr-10">
    <li class=""><a href="/add"><button class="text-2xl bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Добавить задачу</button></a></li>
</ul>
{% endblock %}

{% block content %}
<div class="flex">
    {% for todo in todos %}
        <div class="text-lg my-3 border-2 p-3 mx-5 ">
            <a href="/todos/{{ todo.id }}">
                <p>Задача №{{ todo.id }}</p>
                <p>Название: {{ todo.title }}</p>
                <p>Описание: {{ todo.description }}</p>
                <p>Создано: {{ todo.created_at }}</p>
                <p>Дедлайн: {{ todo.deadline }}</p>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
